<div class="modal fade" id='deleteRealmModal'>
  <div class='modal-dialog'>
    <form {{action 'deleteRealmConfirmed' on='submit'}} class='form-horizontal' autocomplete='off'>
      <div class='modal-content'>
        <div class='modal-header'>Delete Realm</div>
        <div class='modal-body'>
          <p>Are you sure you want to delete the current realm?</p>
        </div>
        <div class="modal-footer">
          <div class='btn-bar pull-right'>
            <a class="btn btn-lg btn-default login-btn" {{action 'cancelDeleteRealm'}}>Cancel</a>
            <a class="btn btn-lg btn-danger login-btn" {{action 'deleteRealmConfirmed'}}>Delete Realm</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>